.collection-big-main{
    
    background-image: url(../images/collection/COLLECTION-BG.png);
    background-repeat: no-repeat;
    background-position: top center;
}
.collection-main{
    display: flex;
    padding-top: 245px;
}
.collection-img{
    width: 255px;
    height: 193px;
}
.gran-collection{
    width: 255px;
}
.plan-collention{
    width: 255px;
    margin-left: 30px;
    margin-right: 28px;
}
.picolo-collention{
    width: 255px;
}
.danche-collection{
    width: 255px;
    margin-left: 51px;
}
.collection-title{
    color: #333D4B;
    margin-top: 71px;
    padding-bottom: 24px;
    text-align: center;
    font-family: Fraunces , serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: 32px; /* 133.333% */
}
.collection-text{
    color: #333D4B;
    text-align: center;
    font-family: Barlow , sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
}